body{
	background-color:rgba(73,21,248,255);
	font-family:Arial;
	color:white;
}
.header-section{
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-bottom:100px;
	justify-content: space-around;		
}

.section-1{
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-bottom:100px;
	justify-content: center;		
}



.container{
	width:100%;
	height:auto;	
}

a:visited{
	color:white;
}

input[type='button']{
	font-weight:bold;
	border-radius:10px;
	border:0px;
	padding:5px 10px;
}

